            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages" style="padding:0px;">

                                <div class="queue-list" style="overflow-y: auto;height: 400px;">

                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                    <div class="users-list">
                                        <div class="chat-user">
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> 1003 - 张三</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> 1004 - 李四</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <span class="pull-right label label-primary">在线</span>
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> 1005 - 李四</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> 张三</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> Monica Smith</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <span class="pull-right label label-primary">在线</span>
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> 李四</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> 张三</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> Monica Smith</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <span class="pull-right label label-primary">在线</span>
                                            <div class="chat-user-name">
                                                <a href="#"><i class="fa fa-lg fa-user"></i> 李四</a>
                                            </div>
                                        </div>

                            <div class="text-center link-block">
                                <a href="#">
                                    <strong>刷新</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                                    </div>

                                </div>


                </ul>
            </li>

